*{
    box-sizing: border-box;
}
.logo{
    padding: 15px;
    
}
.button{
    padding:20px;
    color: #666;
    cursor: pointer;
}
.navbar{
    box-shadow: 0px 1px 2px #4e4e4ea1;
    height:45px;
}
.center{
    display: flex;
    justify-content: center;
    text-align: center;
}
.signupButton{
    background-color: #0963e2be;
    width: 140px;
    height: 45px;
    border-radius:3px;
    cursor:pointer;
    color: white;
    border-color: #0963e2be;
}
.hoverButton:hover{
    background-color: #1d1f22be;
}