.home{
    height:100vh;
    width:100%;   
}

.home h1{
    font-size: 60px;
}

.home-btn{
    background-color:rgb(240,0,0,0.87);
    border-radius: 5px;
    font-weight: bold;
    color:white  !important;
    border: none;
    outline:none;
}